<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Кофеин</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'scripts/script.js' %}"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="{% static 'css/popupstyles.css' %}">

</head>

<body>
<div class="container">

  <div class="first-col">
    {% block sidebar %}
      <div class="style container-col">
          <div class="link1"><img class="icon" src="{% static 'img/home.png' %}"><a class="letters_sb" href="{% url 'index' %}">Главная</a></div>
          <div class="link1"><img class="icon" src="{% static 'img/stat.png' %}"><a class="letters_sb" href="{% url 'statistic' %}">Статистика</a></div>
          <div class="link1"><img class="icon" src="{% static 'img/book.png' %}"><a class="letters_sb" href="{% url 'articles' %}">Статьи</a></div>
          <div class="link1"><img class="icon" src="{% static 'img/anketa.png' %}"><a class="letters_sb" href="{% url 'questionary' %}">Анкета</a></div>

  </div>
    {% endblock %}
</div>
      <div class="second-col">
      {% block content %}{% endblock %}

      </div>
      <div class="third-col">
      <div class="style"> {% if user.is_authenticated %}
          <dd class="letters_sb">Пользователь: {{ user.get_username }}</dd>
          <dd class="letters_sb"><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></dd>
          {% else %}
          <dd class="letters_sb"><a href="{% url 'login'%}?next={{request.path}}">Вход</a></dd>
          <dd class="letters_sb"><a href="{% url 'registration' %}">Регистрация</a></dd>{% endif %}

      </div><div class="style"> {% block right-col %}{% endblock %}</div></div>

  </div>
</body>
</html>