{% extends "base_generic.html" %}
{% block title %}<title>Кофеиновая зависимость в среде студентов и школьников</title>{% endblock %}
{% block content %}

<div class="articles">
<h1 class="h1_class">Кофеиновая зависимость в среде студентов и школьников</h1>

<hr>

<div>
<h2 class="h2_class">Каким образом появляется зависимость</h2>
<p class="body_class">Подростки и студенты подвергаются нестандартной нагрузкой. Многие не могут рассчитать силы и время, поэтому прибегают к употреблению кофеиносодержащих напитков, дабы все успеть. Наиболее популярными напитками являются чай и кофе. С фармакологической точки зрения, чай и кофе являются нестандартизированными настоями с не до конца изученной биологической активностью. Считают, что обжаренные кофейные зерна содержат 2—3% воды, 2—3% сахара, 4—5% кофедубильной кислоты, до 15% жиров, 14% азотистых соединений, в том числе до 1,3% кофеина, витамин РР, фенольные соединения и др. Высушенные листья чайного куста содержат 9—35% дубильных веществ, 2—5% кофеина, теофиллин, теобромин, ксантин, лецитин, нуклеопротеиды, кумарины, витамины С, B1, В2, К, В6. С многокомпонентностью и гетерогенностью состава этих напитков можно связать неоднозначность современных представлений об их влиянии на здоровье человека.</p>
</div>

<div>
<h2 class="h2_class">Какая это зависимость</h2>
<p class="body_class">Зависимость чаще всего психологическая. Давление родителей и учителей вызывают в учащимся чувство обязанности успеть «все». Также, на человека могут влиять сверстники своими достижениями, что может привести к зависти и желанию превзойти их. В обществе такое нездоровое поведение поощряется и становится нормой. 
Таким образом можно сказать, что молодежь прибегает к использованию стимулирующих веществ не только из-за собственного желания, но и из-за внешнего влияния.</p>
</div>

</div>

{% endblock %}