{% extends "base_generic.html" %}
{% block title %}<title>С какого возраста можно пить кофе</title>{% endblock %}
{% block content %}

<div class="articles">
<h1 class="h1_class">С какого возраста можно пить кофе</h1>

<hr>

<div>
<p class="body_class">Важно отметить, что  для большинства людей без видимых противопоказаний кофеин не представляет опасности для здоровья. Вопреки распространённому мифу, никакой связи между потреблением кофеин - содержащих напитков и склонностью к алкоголизму и наркотикам нет. Кроме того, не возникает привыкания к самому кофеину. Кофеин – составной элемент многих лекарств, однократная фармакопейная доза кофеина составляет до 300 мг в день.</p>
</div>

<div>
<h2 class="h2_class">Однако насколько кофеин не был бы безопасным, противопоказания все-таки есть.</h2>
<p class="body_class">Полностью отказаться от кофе рекомендуют людям с гипертонией или нарушением сердечного ритма. Исключение напитка из меню или, по крайней мере, ограничение его употребления поможет тем, кто склонен к нервному перевозбуждению и бессоннице.
Особенно внимательно прислушиваться к реакции организма на приём кофе нужно беременным и кормящим женщинам.
Детям до 2 лет кофе противопоказан. Детям до 14 лет можно давать кофе не более 1 чашки в день, при условии, что концентрация напитка в 4 раза меньше, чем в обычной чашке для взрослого, и с добавлением молока (сливок) в соотношении 1:1. Оптимальный возраст для того чтобы разрешить пить ребёнку кофе регулярно, составляет 14-16 лет по 1-2 чашки кофе в день.</p>
</div>

</div>

{% endblock %}