{% extends "base_generic.html" %}
{% block title %}<title>Кофеин?</title>{% endblock %}
{% block content %}
<div class="articles">
<h1 class="h1_class">Кофеин?</h1>

<hr>

<div>
<h2 class="h2_class">Что это такое и с чем его едят. В чем его смысл.</h2>
</div>

<div>
<p class="body_class">Кофеин — это растительный алкалоид, натуральный стимулятор, содержащийся в некоторых продуктах питания и напитках. Основным источником считаются кофейные зерна, какао-бобы, листья китайского чая.
Экстрагированный алкалоид имеет вид белых или слегка прозрачных кристаллов с горьковатым привкусом, без запаха. Широко применяется в медицине, входя в состав препаратов для купирования головной боли, мигрени, дневной сонливости. Инъекционная форма является частью арсенала реаниматологических отделений как стимулятор сердечной и дыхательной деятельности.
Среднестатистический объем наших чашек – примерно 200-250 мл. Разовая доза кофеина в ней может превышать 100 мг с приемом утренней порции напитка, что может привести к появлению различных симптомов. Например, тремор конечностей, спазм сосудов тошнота и т.д.</p>
<p align="center"><img src="https://cdn.pixabay.com/photo/2019/11/28/14/31/caffeine-4659320_1280.png" width="350" height="300" alt="caffeine"></p>
</div>

<div>
<h2 class="h2_class">Влияние кофеина на организм человека</h2>
<p class="body_class">Относительно небольшие дозы вещества усиливают активность процессов, протекающих в коре головного мозга. Воздействие кофеина на организм обусловлено следующими фармакологическими свойствами:</p>
<dl class="dl_class">Аналептическим — возбуждает центры продолговатого мозга - сосудистый и дыхательный (камфора, коразол, кордиамин);</dl>
<dl class="dl_class">Психостимулирующим — оказывает стимуляцию на функции головного мозга, кору головного мозга и активизирующие психическую и физическую деятельность организма.</dl>
<p class="body_class">Большие порции (больше 700 мг в день) способствуют выведению кальция и магния из организма. Также он действует на организм как легкое мочегонное средство. Но опять-таки не стоит переживать, что продукты, содержащие это вещество, могут вызвать обезвоживание.</p> 
</div>

<div>
<h2 class="h2_class">Как попадает в кровь?</h2>
<p class="body_class">Попадая в организм, кофеин всасывается в кишечнике почти на 99 %. И концентрация вещества в теле может доходить до 10 мг на 1 кг веса. Весь процесс поглощения происходит примерно на протяжении 45 минут после приема внутрь, а своего пикового показателя в крови кофеин достигает через 15-20 минут. Но это приблизительные подсчеты, поскольку в каждом случае скорость всасывания веществ зависит от физиологии и источника. Медленнее всего поглощается кофеин из шоколада и колы, быстрее – из кофейного напитка и вещества в виде таблеток. Но все же быстрее всего он всасывается из жевательных резинок – через слизистые оболочки ротовой полости.</p>
</div>

<div>
<h2 class="h2_class">Побочные эффекты</h2> 
<p class="body_class">Потребление кофеина в умеренных дозах, как правило, не имеет побочных пагубных эффектов на организм. Хотя некоторые исследователи убеждают, что регулярное потребление по 100 мг кофе ежедневно впоследствии может стать причиной бесплодия, изжоги и нарушения работы кишечника. <br> Потребление высоких доз кофеина лишает сна, и человек перестает замечать сигналы организма о необходимости в отдыхе. Меж тем, важно понимать, что кофеин не пополняет запасы энергии и не предотвращает эмоциональную усталость. Он просто блокирует физиологические потребности организма в отдыхе. Со временем такое состояние ведет к развитию депрессии, вызывает тревожность, чрезмерную нервозность, потливость и тремор.</p>
</div>
</div>

{% endblock %}