{% extends "base_generic.html" %}
{% block title %}<title>Кофеин и сон?</title>{% endblock %}
{% block content %}

<div class="articles">
<h1 class="h1_class">Кофеин и сон?</h1>

<hr>

<div>
<p class="body_class">Затрагивать определение кофеина мы не будем, так как для этого у нас есть отдельная статья. В этой статье мы хотим рассмотреть влияние кофеина на сон. Также, мы затронем тему работы аденозиновых рецепторов и фазы сна.
Итак, что же происходит в организме в обычном состоянии: Аденозин, нуклеозид, являющийся универсальной «энергетической валютой» в клетке, укорачивает фосфорильный «хвостик», когда расходуется энергия, и получаются соединения с двумя и одной фосфорильными группами — соответственно, аденозиндифосфат и аденозинмонофосфат. Хочу обратить внимание, помимо всего, аденозин — медиатор межклеточной сигнализации во многих тканях. Если говорить простым языком, то аденозин — это молекула усталости. Он накапливается в мозге в период бодрствования, и по мере нарастания концентрации «сообщает» нейронам, что пора спать. 
Что происходит после принятия кофеина: Кофеин блокирует аденозиновые рецепторы, благодаря этому аденозин меньше накапливается в мозге, из-за чего мы не чувствуем усталости. Почему так? Кофеин напоминает аденозин без остатка пентозы. Поэтому он может спокойно зайти в связывающий участок рецептора, закрепиться там и имитировать все взаимодействия, кроме двух водородных связей, образуемых рибозой и необходимых для активации рецептора. Вот такая биологическая обманка. Так как место занял кофеин, настоящий аденозин тоже теперь не сможет активировать рецептор.</p>
</div>

<div>
<h2 class="h2_class">Как кофеин влияет на сон?</h2>
<p class="body_class">Прежде чем ответить на этот вопрос, введем определение сна. Сон — это защитное приспособление организма от переутомления, охранительное торможение коры головного мозга. Различают 3 цикла сна: 
    <ol class="ol_class">
    <li>Медленный или ортодоксальный сон (продолжительность 60-90 минут) составляет 75% от общей продолжительности сна. В этот цикл уменьшается частота сердечных сокращений, расслабляются мышцы и замедляются движения глаз. В эту фазу происходит восстановление клеток, структуры тканей.</li>
    <li>Быстрый или парадоксальный сон (продолжительность 10-15 минут) Происходит непроизвольное движение глаз, пальцев; учащается чсс и дыхание, расслабляется скелетная мускулатура. В эту фазу снятся наиболее яркие сновидения. В эту фазу происходит обработка информации, полученной за день. Осуществляется обмен между сознанием и подсознанием.</li>
    <li>Глубокий сон</li>
    </ol>
<h3 class="h3_class">Стадии:</h3>
    <ol class="ol_class">
    <li>Дремота. В эту фазу замедляется пульс, дыхание, понижается давление.</li>
    <li>Поверхностный сон. Погружение сознания с его дальнейшим отключением. При пробуждении сны не запоминаются.</li>
    <li>Умеренно-глубокий сон. Наблюдается преобладание дельта колебаний, человека сложно разбудить.</li>
    <li>Глубокий сон. Отмечается преобладание дельта колебаний, возможен лунатизм.</li>
    </ol>
    <p class="body_class">Кофеин продлевает быстрый сон, увеличивает количество пробуждений. Однако кофеин укорачивает глубокий сон. Без глубокого сна человек, скорее всего, почувствует потерю концентрации.</p>
</div>
</div>

{% endblock %}