{% extends "base_generic.html" %}
{% block title %}<title>Почему кофеин вызывает тремор</title>{% endblock %}
{% block content %}

<div class="articles">
<h1 class="h1_class">Почему кофеин вызывает тремор</h1>

<hr>

<div>
<p class="body_class">Начнем с определения кофеина. Это натуральное стимулирующее вещество, содержащееся во многих разновидностях чая, кофе и какао. Кофеин стимулирует работу мозга и центральной нервной системы. Рассмотрим 2 случая: когда человек системно потребляет кофеин и разово принимает большую дозу. 
В первом случае, возможно проявление дисбаланса со стороны центральной нервной системы: посылаются не те сигналы или их обработка нарушена. Как правило, это происходит у тех, кто часто потребляет кофеиносодержащие продукты. Механизм схож с воздействием алкоголя, — после долгого приема на постоянной основе также нарушаются функции из-за чего и происходит тремор.
Во втором случае, при разовом потреблении большого количества кофеина происходит резкое выделение адреналина, из-зи чего поднимается чсс. Сосуды сужаются, может появиться тахикардия, пульсация в висках, начинают дрожать руки. То же самое может ощущаться, если вы волнуетесь в стрессовой ситуации.</p>
</div>

<div>
<h2 class="h2_class">Что делать, если происходит тремор после разового потребления кофеина?</h2>

<p class="body_class">Обычно достаточно подождать минут 20-30, чтобы симптомы заметно ослабли или вовсе ушли. Помочь себе можно и другими способами:</p>
    <ol class="ol_class">    
    <li>Выпейте чистую негазированную воду, стакан или два.</li>
    <li>Особенно, стоит обратить внимание на калий. Он уменьшает частоту сердечных сокращений. Он содержится в бананах</li>
    <li>Нужно успокоиться, возможно – немного полежать или даже вздремнуть.</li>
    </ol>
<p class="body_class">Если тремор не проходит в течение получаса, и добавляются другие симптомы – головокружение, боль в груди, тахикардия, — возможно, стоит вызвать скорую помощь.</p>
</div>

<div>
<h2 class="h2_class">Что делать, если после потребления кофеина тремор происходит регулярно:</h2>
    <ol class="ol_class">
    <li>Нужно снизить дозировки кофеина или сменить сорт. Нормой в день считается 3 – 4 чашки.</li>
    <li>Стараться больше отдыхать, так как держать в тонусе нервную систему ничем хорошим не закончится.</li>
    <li>Взять за правило пить воду перед эспрессо. Это поможет подготовить организм к нагрузкам и снизит концентрацию алкалоида.</li>
    <li>Если чувствуется напряжение, можно съесть что-то сладкое, например, банан, конфету и запить это стаканом воды.</li>
</div>
</div>

{% endblock %}