{% extends "base_generic.html" %}
{% block title %}<title>Как связаны кофеин и наш муд</title>{% endblock %}
{% block content %}

<div class="articles">
    <h1 class="h1_class">Как связаны кофеин и наш муд</h1>
<hr>

<img src="https://images.wallpaperscraft.ru/image/single/smajl_smajlik_grustnyj_156138_1280x720.jpg" class="img">

<div>
<p class="body_class">Кофеин блокирует аденозиновые рецепторы, это понятно, ведь мы не хотим спать. Но почему тогда происходит резкий выплеск энергии?  Благодаря кофеину, происходит резкий выброс адреналина. Давайте немного затронем его синтез в организме и влияние на организм.</p>
</div>

<div>
<h2 class="h2_class">Синтез адреналина</h1>
<p class="body_class">Адреналин вырабатывается организмом из тирозина - аминокислоты, поступающей с пищей. Адреналин также образуется при возбуждении вегетативной нервной системы. Как адреналин влияет на организм. Благодаря секреции большого количества адреналина активируется сильными стрессовыми стимулами и заставляет организм быстро прилагать чрезвычайные усилия. Адреналин, высвобождаемы в кровь, работает быстро и быстро деактивируется и разлагается моноаминоксидазой и катехол-О-метилтрансферазой.</p>
</div>

<div>
<h2 class="h2_class">Повышение концентрации адреналина в крови вызывает:</h2>
    <ol class="ol_class">
    <li>Резкое повышение артериального давления, заставляюзее мозг, сердце и мышцы получать более высокие дозы кислорода;</li>
    <li><abbr title="увеличение частоты сердечных сокращений">Тахикардию;</abbr></li>
    <li>Расширение гладкой мускулатуры бронхов, зрачков;</li>
    <li>Снижение секреции слизи и пищеварительных соков в пищеварительной системе и угнетение <abbr title="волнообразное сокращение мышц жкт">перистальтики</abbr> кишечника;</li>
    <li><abbr title="увеличение содержания глюкозы в сыворотке крови">Гипергликимию.</abbr></li>
    </ol>
</div>

<div>
<p class="body_class">Таким образом, кофеин влияет на организм вызывая выделение адреналина.</p>
<h2 class="h2_class">Тревожность</h2>
</div>

<div>
<p class="body_class">Забегая вперед, могу сказать, что все негативные последствия потребления кофеина, вызваны передозировкой этого вещества. Если употребить огромное количество кофеина единоразово, то можно получить повышенную нервную возбудимость и ярко выраженную тревожность. Также, может появится нервозность и сильное чувство тревоги, что является последствием стимулирующего воздействия данного психостимулятора. От систематического потребления можно ожидать повышение уровня стресса.</p>
</div>
</div>

{% endblock %}