{% extends "base_generic.html" %}
{% block title %}<title>Можно ли сочетать здоровый образ жизни и кофеин</title>{% endblock %}
{% block content %}

<div class="articles">
<h1 class="h1_class">Можно ли сочетать здоровый образ жизни и кофеин?</h1>

<hr>

<div>
<p class="body_class">Для многих людей начало здорового образа жизни прочно ассоциируется с отказом от алкоголя, сигарет, кофе и черного чая. Широко распространена такая идея, что кофеин вреден или, даже, опасен для здоровья. Особенно, если пить его в количестве «больше среднего». Однако, на деле систематический вред так и не был доказан. Стоит отметить, кофе следует употреблять с осторожностью людям с заболеваниями сердца, сосудов, возбудимостью и нервными и психическими расстройствами. Но если мы говорим о здоровом человеке, то объективных и подтвержденных угроз от адекватного количества кофе для него пока не выявлено.</p>
</div>

<div>
<p class="body_class">В других наших статьях вы можете прочитать о влиянии кофеина на сон и настроение(тут должна быть ссылка). Фактически, кофеин сам по себе является слабым болеутоляющим и повышает эффективность других обезболивающих. (мб потом сделаю стать про содержание кофеина в препаратах) Кофеин не вызывает привыкания, он не угрожает физическому, социальному или экономическому здоровью, как наркотики, никотин или алкоголь. Если вы внезапно перестанете принимать кофеин, у вас могут появиться некоторые неприятные симптомы в течение одного или нескольких дней (особенно если вы пьете две или более чашки кофе в день). При резком отказе от кофеина могут возникнуть головная боль, усталость, тревожность, раздражительность, трудности с концентрацией. Тем не менее, через несколько дней это состояние пройдет бесследно.</p>
</div>

<div>
<p class="body_class">Кофеин не несет особой пользы для организма, но и не несет вреда для организма. Если правильно его употреблять, то вы можете получить некоторые плюсы без побочных действий. Например, кофеин улучшает физическую работоспособность во всевозможных видах спорта, а также уменьшает психическую усталость. Он уменьшает восприятие усталости и боль в мышцах.</p>
</div>

<div>
<p class="body_class">Таким образом, при правильном и разумном потреблении кофеина вы сможете совмещать здоровый образ жизни и кофеин.</p>
</div>

</div>

{% endblock %}