{% extends "base_generic.html" %}

{% block content %}
<div class="style">

    {% if validlink %}
        <p>Введите и подтвердите новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Новый пароль ещё раз:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Что-то пошло не так</h1>
        <p>Ссылка для сброса пароля некорректная. Возможно, она уже была использована. Пожалуйста, запросите ссылку повторно.</p>
    {% endif %}
</div>
{% endblock %}
